@font-face {
    font-family: 'Poppins';
    src: url('popins.ttf');
}

::-webkit-scrollbar {
    display: none;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Poppins';
  }
  
  html, body {
    height: 100%;

  }
  
  body {
    color: #444;
    background-color:  rgb(18,23,23);
    font-size: 1rem;
    line-height: 1.5;
  }
  header{
    height:60px;
    position:fixed;
    border-bottom: 2px white;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    
}
.logo{
    font-size: 2em;
    color:white;
    user-select: none;
}
.navigacija a{
    position:relative;
    font-size: 1.05em;
    color:whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigacija a::after{
    left:0;
    bottom:-7px;
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    background:white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}
.navigacija a:hover::after{
    transform: scale(1);
    transform-origin: left;
}
.dugmeLogin{
    width:130px;
    height:45px;
    background: transparent;
    border:2px solid white;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.05em;
    color:whitesmoke;
    margin-left: 40px;
    font-weight: 500;
    transition: 0.5s;
}
.dugmeLogin:hover{
    background-color: white;
    color:black;
}
/*FORMA*/
.wrapper{
    position:absolute;
    right:760px;
    width:400px;
    top:320px;
    height:440px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition:transform 0.3s ease;
    
}
.wrapper.active{
    top:240px;
    height:580px;
}
.wrapper.active-iskoci{
    transform: scale(1);
}
.iks{
    position: absolute;
    top:0;
    right: 0;
    width: 45px;
    height:45px;
    background-color: #162938;
    font-size: 2em;
    color:rgb(158,184,181);
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor:pointer;
    z-index: 1;
}
.login{
    transition: transform 0.2s ease;
    transform: translateX(0);
}
.form-box{
    width:100%;
    padding: 40px;
}
.form-box h2{
    font-size:2em;
    color:white;
    text-align: center;
}
.input-box{
    position:relative;
    width:100%;
    height:50px;
    border-bottom: 2px solid black;
    margin:30px 0;
}
.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    font-size: 1em;
    color:rgb(158,184,181);
    font-weight: 400;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input{
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    color:#f1f9ff;
    font-size: 1em;
    font-weight: 600;
    padding:0 35px 0 5px;
}
.greska{

    width:100%;
    background: transparent;
    border: none;
    outline: none;
    color:white;

    font-size: 1em;
    font-weight: 400;
}

.input-box .icon{
    position: absolute;
    right:8px;
    font-size: 1.2em;
    color:rgb(158,184,181);
    line-height: 57px;
}


.input-box input:not(:placeholder-shown) ~ label,
.input-box input:focus ~ label {
    top: -5px;
}
.seti-se{
    font-size: 0.9em;
    color: rgb(158,184,181);
    font-weight: 500;
    margin:-15px 0 15px;
    display:flex;
    justify-content: space-between;
}
.seti-se label input{
    accent-color: rgb(158,184,181);
    margin-right: 3px;
}
.seti-se a{
    color:rgb(158,184,181);
    text-decoration: none;
}
.seti-se a:hover{
    text-decoration: underline;
}
.dugme{
    width:100%;
    height:45px;
    background-color: rgb(22,41,56);
    border: none;
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1em;
    color:white;
    font-weight: 500;
}
.login-register{
    font-size: 0.9em;
    color:rgb(158,184,181);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:rgb(158,184,181);
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;
}
.register{
    position: absolute;
    transition: none;
    
    transform: translateX(400px);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper.active .form-box.register{
    transition: none;
    transition: transform 0.2s ease;
    transform: translateX(0px);
}
.odjava{
    border-radius: 5px;
    height:360px;
    width:230px;
    background-color:transparent;
    top:60px;
    right:50px;
    position:fixed;
    border:2px solid white;
    display:flex;
    align-items:center;
    justify-content: end; 
    z-index: 99;
    flex-direction: column-reverse;
}
.dugmeLogout{
    margin-bottom: 40px;
    width:130px;
    height:45px;
    background: transparent;
    border:2px solid white;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.05em;
    color:whitesmoke;
    font-weight: 500;
    transition: 0.5s;
}
.dugmeLogout:hover{
    background-color: white;
    color:black;
}
.reset button{
    margin-bottom: 40px;
    width:160px;
    height:45px;
    background: transparent;
    border:2px solid white;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.05em;
    color:whitesmoke;
    font-weight: 500;
    transition: 0.5s;
}
.reset button:hover{
    background-color: white;
    color:black;
}
.reset{

    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:600px;
    height:600px;
}
.resetDrzi{
    height:100vh;
    width:100%;
    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}